{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container-md col-md-4 col-md-offset-4">
        <h1>Register</h1>
        {{ form_start(registrationForm, { 'attr' : { 'class': 'form-control' } }) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button type="submit" class="btn btn-primary btn-sm">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}

