{% extends 'base.html.twig' %}

{% block title %}Publisher{% endblock %}

{% block body %}
    <h1>Publisher</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ publisher.id }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ publisher.Address }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ publisher.Phone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_publisher_index') }}">back to list</a>

    <a href="{{ path('app_publisher_edit', {'id': publisher.id}) }}">edit</a>

    {{ include('publisher/_delete_form.html.twig') }}
{% endblock %}
