{% extends 'base.html.twig' %}

{% block title %}Book index
{% endblock %}

{% block body %}
	<h1>Book index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Cost</th>
				<th>ImgUrl</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for book in books %}
				<tr>
					<td>{{ book.Title }}</td>
					<td>{{ book.Author }}</td>
					<td>{{ book.Cost }}</td>
					<td><img src=" {{ asset('images/book/'~ book.imgurl) }}" alt="Symfony" class=".img-fluid"></td>

					<td>
						<a href="{{ path('app_book_show', {'id': book.id}) }}">show</a>
						<a href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_book_new') }}">Create new</a>
{% endblock %}
