{% extends 'base.html.twig' %}

{% block title %}Book
{% endblock %}

{% block body %}
	<div class="container">

		<h1>{{ book.Title }}</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Title</th>
					<td>{{ book.Title }}</td>
				</tr>
				<tr>
					<th>Image</th>
					<td>
						<img src=" {{ asset('images/book/' ~ book.imgUrl) }}" alt="Symfony">
					</td>
				</tr>
				<tr>
					<th>Category</th>
					<td>{{ book.Category.Name }}</td>
				</tr>
				<tr>
					<th>By</th>
					<td>{{ book.Author }}</td>
				</tr>
				<tr>
					<th>Published</th>
					<td>{{ book.Publisher.Name }}</td>
				</tr>

				<tr>
					<th>Price</th>
					<td>${{ book.Cost }}</td>
				</tr>
				<tr>
					<th>Related books</th>
					<td>
						<table class="table">
							<tr>
								<td style="font-weight: bold;">Title</td>
								<td style="font-weight: bold;">Image</td>
								<td style="font-weight: bold;">Price</td>
							</tr>
							{% for book in book.category.Books %}
								<tr>
									<td>{{ book.Title }}</td>
									<td><img src=" {{ asset('images/book/'~ book.imgurl) }}" alt="Symfony" class=".img-fluid"></td>
									<td>${{ book.Cost }}</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="4">No records found</td>
								</tr>
							{% endfor %}
						</table>
					</td>
				</tr>

			</tbody>
		</table>


		<a href="{{ path('app_book_index') }}">back to list</a>

		<a href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>

		{{ include('book/_delete_form.html.twig') }}</div>
{% endblock %}
