<div class="container">
	<header class="p-3 mb-3 border-bottom">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example" style="border-radius: 7px;">

			<div class="container-fluid">
				<a class="navbar-brand" href="{{ path('app_book_index') }}">BOOKWORM</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsExample04">

					<ul class="navbar-nav me-auto mb-2 mb-md-0">
						{% if app.user %}
							<li class="nav-item">
								<a class="nav-link" aria-current="page" href="{{ path('app_book_index') }}">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" aria-current="page" href="{{ path('app_category_index') }}">Category</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" aria-current="page" href="{{ path('app_publisher_index') }}">Publisher</a>
							</li>
						{% endif %}
					</ul>

					<form action={{ path('app_book_index') }} method="get">
						<input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search">
					</form>
					<div class="dropdown text-end" style="margin-left: 26px;">
						<a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="{{ app.user ? 'https://avatars.githubusercontent.com/u/94630571?v=4' : 'https://staticfile.batdongsan.com.vn/images/icons/default-user-avatar.png' }}" alt="Ava" width="32" height="32" class="rounded-circle">
						</a>
						<ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
							{% if app.user %}
								<li>
									<a class="dropdown-item">Welcome
										{{  app.user.fullname }}!</a>
								</li>
								{% if is_granted('ROLE_USER') %}
									<li>
										<a class="dropdown-item" href="#">Cart</a>
									</li>
								{% endif %}
								<li>
									<a class="dropdown-item" href="{{ path('app_user_show', {'id': app.user.id}) }}">Profile</a>
								</li>
								{% if is_granted('ROLE_ADMIN') %}
									<li>
										<a class="dropdown-item" href="{{ path('admin') }}">Admin dashboard</a>
									</li>
								{% endif %}
								<li><hr class="dropdown-divider"></li>
								<a class="dropdown-item" href="/{{ app.user ? 'logout' : 'login' }}">
									{{ app.user ? 'Log Out' : 'Log In' }}
								</a>
								{% if is_granted('ROLE_USER') %}
									<a class="dropdown-item" href="{{ path('app_user_edit', {'id': app.user.id}) }}">
										{{ app.user ? 'Edit Profile' : 'Log In' }}
									</a>
								{% endif %}
								<a class="dropdown-item" href="/register">
									{% if app.user %}Register
									{% endif %}
									{{ app.user ? '' : 'Register' }}
								</a>
							{% else %}
								<a class="dropdown-item" href="/register">
									{% if app.user %}Register
									{% endif %}
									{{ app.user ? '' : 'Register' }}
								</a>
								<a class="dropdown-item" href="/{{ app.user ? 'logout' : 'login' }}">
									{{ app.user ? 'Log Out' : 'Log In' }}
								</a>
							{% endif %}
							<li></li>
						</ul>

					</div>

				</div>
			</div>
		</nav>
	</header>
</div>
