{% extends 'base.html.twig' %}

{% block title %}OrderDetail
{% endblock %}

{% block body %}
	<div class="container">

		<h1>OrderDetail</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ order_detail.id }}</td>
				</tr>
				<tr>
					<th>Quantity</th>
					<td>{{ order_detail.Quantity }}</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('app_order_detail_index') }}">back to list</a>

		<a href="{{ path('app_order_detail_edit', {'id': order_detail.id}) }}">edit</a>

		{{ include('order_detail/_delete_form.html.twig') }}
	</div>
{% endblock %}
